.editor-styles-wrapper {
    .blockparty-table-of-content {
        &--sticky {
            position: sticky;
        }

        &__list {
            &-item {
                a {
                    color: var(--blockparty-table-of-content--links-color);
                }
            }
        }
    }
}

.components-base-control__toc-levels {
    .components-checkbox-control {
        margin-bottom: 0;
    }
}